<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
    </head>

    <body>
        <h2>Smoothielista</h2>

        <ul>
            <li th:each="annos : ${annokset}">   
                <a th:href="@{~/smoothiet/{id}/(id=${annos.id})}" th:text="${annos.nimi}">Ingredient</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="smoothiet/">Luo uusi smoothie</a>
            </li>
            <li>
                <a href="/ainekset">Tarkastele ja lisää aineksia</a>
            </li>
        </ul>

    </body></html>