<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Smoothiet</h2>

        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="${'/smoothiet/' + annos.id + '/'}" th:text="${annos.nimi}">smoothien nimi</a>
            </li>
        </ul>

        <h4>Lisaa uusi</h4>
        <form method="POST" action="">
            Smoothien nimi:<br/>
            <input type="text" name="smoothieName" /><br/>
            <input type="submit" name="nappi" value="addSmoothie"/>
        </form>
        <form method="POST" action="" >
            <select name="smoothieId"> 
                <option th:each="smoothie: ${smoothies}" th:value="${smoothie.id}" th:text="${smoothie.nimi}">smoothie</option></select><br/>
            <select name="ingredientId"> 
                <option th:each="ingredient: ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.nimi}">ingredient</option></select><br/>
            <input type="text" name="Order" /><br/>
            <input type="text" name="Quantity" /><br/>
            <input type="text" name="Info" /><br/>          

            <input type="submit" name="nappi" value="AddNewIngredients"/>
        </form>

        <form method="POST" action="" >
            <select name="SmoothieDeleteId"> 
                <option th:each="smoothie: ${smoothies}" th:value="${smoothie.id}" th:text="${smoothie.nimi}">smoothie</option></select>
            <input type="submit" name="nappi" value="Poista"/>
        </form>

    </body>
</html>